importFrom("graphics", "plot","abline")
importFrom("Iso", "pava")
importFrom("icenReg", "cs2ic","ic_sp","getSCurves")
importFrom("survival", "Surv")

importFrom("stats", "dnorm", "runif", "sd")
importFrom("utils", "tail")

export(icsurvROC, icsurvROC)

